.border{
	border: 2px solid red ;
}
.flex{
	display: flex;
}
.justify{
	justify-content: center;
}
.items{
	align-items: center;
}
.invert{
	filter: invert(1);

}
.rounded{
	border-radius: 8px;
}
.b-grey{
	
	background-color: var(--bg-grey) ;
}
